fastapi
uvicorn
pandas
transformers
torch
python-multipart
openpyxl
sqlalchemy
protobuf
sentencepiece
tiktoken
scikit-learn
sse-starlette
passlib
bcrypt
python-jose[cryptography]
psycopg2-binary
pyahocorasick
pyvi
requests
python-dotenv
httpx
beautifulsoup4
openai>=1.0.0
xlrd>=2.0.1
